<ul class="list-group shadow">
  <li class="list-group-item">
    <div>
      <img src="../../../../assets/icons/dashboard.png" />
      <span>Dashboard Home</span>
    </div>
  </li>
  <li class="list-group-item">
    <div>
      <img src="../../../../assets/icons/manage_role.png" />
      <span>Manage Project Roles</span>
    </div>
  </li>
  <li class="list-group-item">
    <div>
      <img src="../../../../assets/icons/manage_users.png" />
      <span>Manage Project Users</span>
    </div>
  </li>
  <li class="list-group-item">
    <div>
      <img src="../../../../assets/icons/my_projects.png" />
      <span>My Projects</span>
    </div>
  </li>
  <li class="list-group-item">
    <div>
      <img src="../../../../assets/icons/my_tickets.png" />
      <span>My Tickets</span>
    </div>
  </li>
  <li class="list-group-item">
    <div>
      <img src="../../../../assets/icons/profile.png" />
      <span>User Profile</span>
    </div>
  </li>
</ul>
