<ul class="list-group shadow">
  <li class="list-group-item">
    <div class="display-6 greeting">Welcome, {{ "Anthony" | slice: 0:8 }}</div>
  </li>
  <li class="list-group-item">
    <div
      routerLink="/dashboard"
      routerLinkActive="link-active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <img src="../../../../assets/icons/dashboard.png" />
      <span>Dashboard</span>
    </div>
  </li>
  <li class="list-group-item">
    <div
      routerLink="/tickets"
      routerLinkActive="link-active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <img src="../../../../assets/icons/my_tickets.png" />
      <span>Tickets</span>
    </div>
  </li>
</ul>
