ul {
  height: 100vh;
  background-color: var(--bs-white);
  border-radius: 0px;
}

li {
  width: 250px;
  padding: 20px;
  border: none;

  div {
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
      width: 20px;
      height: 20px;
    }

    span {
      width: 80%;
    }
  }
}
