ul {
  height: 100vh;
  background-color: var(--bs-white);
  border-radius: 0px;
}

.greeting {
  font-size: 2rem;
  border-bottom: 1px solid var(--bs-gray-300);
}

li {
  width: 250px;
  border: none;
  user-select: none;

  &:hover {
    div:not(.link-active) {
      background-color: var(--bs-gray-200);
      cursor: pointer;
    }
  }

  .link-active {
    background-color: var(--bs-info);
    color: var(--bs-white);
    border-radius: 4px;
  }

  div {
    display: flex;
    padding: 16px;
    justify-content: space-between;
    align-items: center;

    img {
      width: 20px;
      height: 20px;
    }

    span {
      width: 80%;
    }
  }
}
