nav {
  padding: 8px 32px;
  display: flex;
  align-items: center;
  background-color: var(--bs-white);
  border-left: 2px solid var(--bs-gray-200);
}

.logged-in-as {
  font-size: 1.25rem;
  flex: 6;

  span {
    font-weight: 400;
  }
}

.items {
  display: flex;
  justify-content: space-between;
  flex: 1;
  font-size: 0.9625rem;

  .item {
    background-color: transparent;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

    &:hover {
      background-color: var(--bs-gray-200);
      cursor: pointer;
    }

    img {
      width: 20px;
      height: 20px;
      margin-left: 8px;
      margin-right: 8px;
      position: relative;
    }
  }
}

.img-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;

  .count {
    background-color: var(--bs-red);
    color: var(--bs-white);
    font-weight: 500;
    display: flex;
    padding: 2px;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: 16px;
    position: absolute;
    font-size: 0.9625rem;
    border-radius: 2px;
    top: 12px;
    right: 0;
    left: 0;
    margin: 0 auto;
  }
}
