<div class="container">
  <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
    <h5 class="display-6 text-center">New Account</h5>
    <div class="form-group has-danger">
      <input
        type="text"
        autocomplete="name"
        class="form-control"
        [ngClass]="{
          'is-invalid':
            (firstName?.dirty || firstName?.touched || submitted) &&
            firstName?.errors,
          'is-valid': firstName?.dirty && !firstName?.errors
        }"
        placeholder="First Name"
        formControlName="firstName"
      />
      <div
        class="invalid-feedback"
        *ngIf="
          (firstName?.dirty || firstName?.touched || submitted) &&
          firstName?.errors?.required
        "
      >
        This field is required
      </div>
    </div>
    <div class="form-group">
      <input
        type="text"
        autocomplete="additional-name"
        class="form-control"
        [ngClass]="{
          'is-invalid':
            (lastName?.dirty || lastName?.touched || submitted) &&
            lastName?.errors,
          'is-valid': lastName?.dirty && !lastName?.errors
        }"
        placeholder="Last Name"
        formControlName="lastName"
      />
      <div
        class="invalid-feedback"
        *ngIf="
          (lastName?.dirty || lastName?.touched || submitted) &&
          lastName?.errors?.required
        "
      >
        This field is required
      </div>
    </div>
    <div class="form-group">
      <input
        type="text"
        autocomplete="username"
        class="form-control"
        [ngClass]="{
          'is-invalid':
            (username?.dirty || username?.touched || submitted) &&
            username?.errors,
          'is-valid': username?.dirty && !username?.errors
        }"
        placeholder="Username"
        formControlName="username"
      />
      <div
        class="invalid-feedback"
        *ngIf="username?.dirty || username?.touched || submitted"
      >
        <div *ngIf="username?.errors?.required">This field is required</div>
        <div *ngIf="username?.errors?.minlength">
          Username must be at least 2 characters long
        </div>
        <div *ngIf="username?.errors?.maxlength">
          Username must be at most 10 characters long
        </div>
      </div>
    </div>
    <div class="form-group">
      <input
        type="email"
        autocomplete="email"
        class="form-control"
        [ngClass]="{
          'is-invalid':
            (email?.dirty || email?.touched || submitted) && email?.errors,
          'is-valid': email?.dirty && !email?.errors
        }"
        placeholder="Email"
        formControlName="email"
      />
      <div
        class="invalid-feedback"
        *ngIf="email?.dirty || email?.touched || submitted"
      >
        <div *ngIf="email?.errors?.required">This field is required</div>
        <div *ngIf="email?.errors?.email">Invalid email address</div>
      </div>
    </div>
    <div formGroupName="passwordsForm">
      <div class="form-group">
        <input
          type="password"
          autocomplete="new-password"
          class="form-control"
          [ngClass]="{
            'is-invalid':
              (password?.dirty || password?.touched || submitted) &&
              password?.errors,
            'is-valid': password?.dirty && !password?.errors
          }"
          placeholder="Password"
          formControlName="password"
        />
      </div>
      <div class="form-group">
        <input
          type="password"
          autocomplete="new-password"
          class="form-control"
          [ngClass]="{
            'is-invalid':
              (confirmPassword?.dirty ||
                confirmPassword?.touched ||
                submitted) &&
              confirmPassword?.errors,
            'is-valid': confirmPassword?.dirty && !confirmPassword?.errors
          }"
          placeholder="Confirm Password"
          formControlName="confirmPassword"
        />
        <div
          class="invalid-feedback d-block"
          *ngIf="password?.dirty || password?.touched || submitted"
        >
          <div *ngIf="password?.errors?.required">Password is required</div>
          <div *ngIf="password?.errors?.minlength">
            Password must be at least 8 characters
          </div>
          <div *ngIf="password?.errors?.maxlength">
            Password cannot be longer than 25 characters
          </div>
        </div>
        <div
          class="invalid-feedback"
          *ngIf="
            confirmPassword?.dirty || confirmPassword?.touched || submitted
          "
        >
          <div *ngIf="confirmPassword?.errors?.passwordsMatch">
            Passwords must match
          </div>
        </div>
      </div>
    </div>
    <button class="btn btn-success w-100 btn-block">Register</button>
    <div class="bottom-links">
      <div>
        Already have an account? <a [routerLink]="['/signin']">Sign in</a>
      </div>
    </div>
  </form>
</div>
